[submodule "lua-language-server"]
	path = lua-language-server
	url = https://github.com/LuaLS/lua-language-server.git
[submodule "groovy-lsp"]
	path = groovy-lsp
	url = https://github.com/GroovyLanguageServer/groovy-language-server.git
